{% extends 'layout.html.twig' %}

{% block search %}
    <div class="search-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Find the job that fits your life</h1><br><h2>More than <strong>12,000</strong> jobs are waiting to Kickstart your career!</h2>
                    <div class="content">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="job title / keywords / company name">
                                        <i class="ti-time"></i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="city / province / zip code">
                                        <i class="ti-location-pin"></i>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select class="dropdown-product selectpicker">
                                                <option>All Categories</option>
                                                <option>Finance</option>
                                                <option>IT & Engineering</option>
                                                <option>Education/Training</option>
                                                <option>Art/Design</option>
                                                <option>Sale/Markting</option>
                                                <option>Healthcare</option>
                                                <option>Science</option>
                                                <option>Food Services</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-6">
                                    <button type="button" class="btn btn-search-icon"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="popular-jobs">
                        <b>Popular Keywords: </b>
                        <a href="#">Web Design</a>
                        <a href="#">Manager</a>
                        <a href="#">Programming</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block content %}
    <!-- Find Job Section Start -->
    <section class="find-job section">
        <div class="container">
            <h2 class="section-title">Hot Jobs</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="job-list">
                        <div class="thumb">
                            <a href="{{ path('jobs_show') }}"><img src="{{ asset('assets/img/jobs/img-1.jpg') }}" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a href="{{ path('jobs_show') }}">Need a web designer</a><span class="full-time">Full-Time</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><a href="browse-categories.html"><i class="ti-brush"></i>Art/Design</a></span>
                                        <span><i class="ti-location-pin"></i>Washington, USA</span>
                                        <span><i class="ti-time"></i>60/Hour</span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart"></i>
                                    </div>
                                    <a href="{{ path('jobs_show') }}" class="btn btn-common btn-rm">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list">
                        <div class="thumb">
                            <a href="{{ path('jobs_show') }}"><img src="{{ asset('assets/img/jobs/img-2.jpg') }}" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a href="{{ path('jobs_show') }}">Front-end developer needed</a><span class="full-time">Full-Time</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><a href="browse-categories.html"><i class="ti-desktop"></i>Technologies</a></span>
                                        <span><i class="ti-location-pin"></i>Cupertino, CA, USA</span>
                                        <span><i class="ti-time"></i>60/Hour</span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart"></i>
                                    </div>
                                    <a href="{{ path('jobs_show') }}" class="btn btn-common btn-rm">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list">
                        <div class="thumb">
                            <a href="{{ path('jobs_show') }}"><img src="{{ asset('assets/img/jobs/img-3.jpg') }}" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a href="{{ path('jobs_show') }}">Senior Accountant</a><span class="part-time">Part-Time</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><a href="browse-categories.html"><i class="ti-home"></i>Finance</a></span>
                                        <span><i class="ti-location-pin"></i>Delaware, USA</span>
                                        <span><i class="ti-time"></i>60/Hour</span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart"></i>
                                    </div>
                                    <a href="{{ path('jobs_show') }}" class="btn btn-common btn-rm">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list">
                        <div class="thumb">
                            <a href="{{ path('jobs_show') }}"><img src="{{ asset('assets/img/jobs/img-4.jpg') }}" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a href="{{ path('jobs_show') }}">Fullstack web developer needed</a><span class="full-time">Full-Time</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quaerat aut veniam molestiae atque dolorum omnis temporibus consequuntur saepe. Nemo atque consectetur saepe corporis odit in dicta reprehenderit, officiis, praesentium?</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><a href="browse-categories.html"><i class="ti-desktop"></i>Technologies</a></span>
                                        <span><i class="ti-location-pin"></i>New York, USA</span>
                                        <span><i class="ti-time"></i>60/Hour</span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart"></i>
                                    </div>
                                    <a href="{{ path('jobs_show') }}" class="btn btn-common btn-rm">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="showing pull-left">
                        <a href="#">Showing <span>6-10</span> Of 24 Jobs</a>
                    </div>
                    <ul class="pagination pull-right">
                        <li class="active"><a href="#" class="btn btn-common" ><i class="ti-angle-left"></i> prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Find Job Section End -->

    <!-- Start Purchase Section -->
    <section class="section purchase" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="section-content text-center">
                    <h1 class="title-text">
                        Looking for a Job
                    </h1>
                    <p>Join thousand of employers and earn what you deserve!</p>
                    <a href="my-account.html" class="btn btn-common">Get Started Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Purchase Section -->

    <!-- Clients Section -->
    <section class="clients section">
        <div class="container">
            <h2 class="section-title">
                Clients & Partners
            </h2>
            <div class="row">
                <div id="clients-scroller">
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img1.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img2.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img3.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img4.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img5.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img6.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img6.png') }}" alt="">
                    </div>
                    <div class="items">
                        <img src="{{ asset('assets/img/clients/img6.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Section End -->

    <!-- Counter Section Start -->
    <section id="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counting">
                        <div class="icon">
                            <i class="ti-briefcase"></i>
                        </div>
                        <div class="desc">
                            <h2>Jobs</h2>
                            <h1 class="counter">12050</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counting">
                        <div class="icon">
                            <i class="ti-user"></i>
                        </div>
                        <div class="desc">
                            <h2>Members</h2>
                            <h1 class="counter">10890</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counting">
                        <div class="icon">
                            <i class="ti-write"></i>
                        </div>
                        <div class="desc">
                            <h2>Resume</h2>
                            <h1 class="counter">700</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counting">
                        <div class="icon">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="desc">
                            <h2>Company</h2>
                            <h1 class="counter">9050</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Infobox Section Start -->
    <section class="infobox section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="info-text">
                        <h2>Don't Want To Miss a Thing?</h2>
                        <p>Just go to <a href="#">Google Play</a> to download JobBoard Mini</p>
                    </div>
                    <a href="#" class="btn btn-border">Google Play</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Infobox Section End -->
{% endblock content %}
